@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --board-border-radius: 8px;
  --board-background: #89dceb;

  --cell-size: 4vh;
  --grid-gap: calc(var(--cell-size) / 10);
  --cell-border-radius: 4px;
  --cell-background: #74c7ec;
}

*::after {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #4c4f69;
  position: relative;
}

input,
h1,
h2,
p {
  color: #4c4f69;
}

ul,
ol {
  padding-left: 0;
}

.hidden,
.hidden * {
  display: none;
}

button:not(.cell):not(.hidden) {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow:
    rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  text-align: center;
  transition:
    box-shadow 0.15s,
    transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: box-shadow, transform;
  font-size: 18px;
}

button:not(.cell):focus {
  box-shadow:
    #3c4fe0 0 0 0 1.5px inset,
    rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #3c4fe0 0 -3px 0 inset;
}

button:not(.cell):hover,
.options p:not(.active-mode):hover {
  box-shadow:
    rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:not(.cell):active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

button img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(300deg)
    brightness(100%) contrast(100%);
}

header {
  display: flex;
  width: 100%;
  padding: 16px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo {
  width: 48px;
  height: auto;
  margin-right: 8px;
}

header h1 {
  font-size: 6vmin;
  font-weight: 700;
  line-height: 1;
}

.back-button {
  position: absolute;
  top: 16px;
  left: 16px;
  padding: 8px;
}

.back-button img {
  width: 24px;
  height: auto;
}

#root:has(> .home-page) .back-button {
  display: none;
}

.opponent {
  margin: 64px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.opponent > p {
  padding: 8px;
}

.opponent .options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 8px;
  grid-gap: 2vmin;
  background-color: var(--board-background);
  border-radius: 8px;
}

.options p {
  width: min(256px, 40vw);
  text-align: center;
  padding: 8px 0;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

.options p.active-mode {
  box-shadow: #3c4fe0c0 0 3px 7px inset;
}

.page {
  display: flex;
  flex-direction: column;
}

.home-page .controls {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 32px;
  align-items: center;
  justify-items: center;
}

.home-page .controls button {
  font-size: 1.75rem;
  font-weight: 500;
  padding: 4vh 8vh;
  width: max-content;
}

.help-page h1 {
  text-align: center;
  font-size: 2rem;
}

.help-page section {
  margin: 4vh 10vw;
  font-size: min(4vmin, 3vh);
}

.help-page p,
.help-page ul {
  margin-left: 2vw;
}

.help-page p ul {
  margin-left: 8vw;
}

.help-page img {
  display: inline;
  width: 3vh;
  height: auto;
  transform: translateY(0.3rem);
}

table {
  margin-left: 16px;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  border: 1px solid #4c4f69;
  padding: 4px;
}

th:first-child,
td:first-child {
  width: 150px;
}

th:last-child,
td:last-child {
  width: 100px;
}

.help-page .thanks {
  font-size: 3rem;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 32px;
}

.start,
.reset {
  padding: 16px 32px;
}

.boards {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-gap: 5vmin;
  grid-template-columns: 1fr 1fr;
  margin: 2vmin;
  margin-bottom: 4vmin;
}

.board,
.opponent {
  background-color: var(--board-background);
  border-radius: var(--board-border-radius);
  padding-bottom: calc(var(--grid-gap) * 4 + 3px);
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.4) 0px 12px 12px -3px,
    rgba(0, 0, 0, 0.2) 0px -6px 0px inset;
}

.board {
  position: relative;
  padding: calc(var(--grid-gap) * 4);
  background-color: var(--board-background);
  border-radius: var(--board-border-radius);
  padding-bottom: calc(var(--grid-gap) * 4 + 6px);
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.4) 0px 12px 12px -3px,
    rgba(0, 0, 0, 0.2) 0px -6px 0px inset;

  transition: transform ease-in-out 333ms;
}

.board.active {
  transform: translateY(-8px);
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.4) 0px 12px 12px -3px,
    rgba(84, 104, 255, 0.75) 0px -6px 0px inset;
}

.board-header {
  padding: calc(var(--grid-gap) * 4);
  margin-bottom: calc(var(--grid-gap) * 4);
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: var(--cell-background);
  border-radius: 8px;
  position: relative;
}

.player-name,
.player-name-input {
  font-size: 2.5vh;
  font-weight: 500;
  padding: 8px;
}

.player-name-input {
  justify-self: start;
  text-align: center;
  width: 12vmax;
  border-radius: 8px;
  border: 1px solid #4c4f69;
  padding: 7px 8px;
}

.board-controls {
  position: absolute;
  right: 2vh;
}

.board-controls button {
  padding: 8px;
  margin: 0 0.5vh;
}

.board-controls img {
  width: 1.5rem;
  height: auto;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(300deg)
    brightness(100%) contrast(100%);
}

.board-cells {
  width: min-content;
  display: grid;
  grid-auto-flow: row;
  grid-gap: var(--grid-gap);
  position: relative;
}

.row {
  display: grid;
  grid-auto-flow: column;
  grid-gap: var(--grid-gap);
  display: flex;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);

  border: none;
  border-radius: var(--cell-border-radius);

  background-color: var(--cell-background);
  color: #4c4f69;
  position: relative;
  z-index: 1;
}

.cell.empty,
.cell.ship {
  background-color: var(--cell-background);
}

.board.only-human .cell.empty,
.human.editing .cell.empty,
.attack-allowed:not(.passing) .board:not(.active) .cell.empty {
  background-color: var(--board-background);
}

.human.only-human .cell.ship,
.human.editing .cell.ship:not(.moving),
.attack-allowed:not(.passing) .board.attacking .cell.ship {
  background-color: #eba0ac;
  /* background-color: transparent; */
}

.board.editing .cell.moving {
  background-color: #fab387;
}

.attack-allowed .active .cell.empty:hover,
.attack-allowed .active .cell.ship:hover {
  box-shadow:
    rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #41a3d5 0 -3px 0 inset;
  transform: translateY(-1px);
}

.attack-allowed .active .cell.empty:active,
.attack-allowed .active .cell.ship:active {
  box-shadow: #41a3d5 0 3px 7px inset;
  transform: translateY(1px);
}

.cell.miss {
  background-color: var(--cell-highlight-color);
}
.cell.miss::after {
  content: "•";
  font-size: 3vh;
}

.cell.hit {
  background-color: #f9e2af;
}
.cell.hit::after,
.cell.sunk::after {
  content: "✖";
  font-size: 2vh;
}

.cell.sunk {
  background-color: #f38ba8;
}

.board-ships {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

#root.vs-friend:not(.in-progress)
  .board:not(.editing)
  .board-ships
  .ship-img:not(.ship-sunk),
.in-progress.passing .attacking .board-ships .ship-img:not(.ship-sunk) {
  display: none;
}

.in-progress .board-ships {
  pointer-events: none;
}

.in-progress .board-ships img {
  opacity: 0.75;
}

.board-ships img {
  position: absolute;
  width: calc((var(--cell-size) * 5) + (var(--grid-gap) * 4));
  height: auto;
}

.game-over-screen,
.passing-screen {
  position: absolute;
  left: calc(var(--grid-gap) * 4);
  top: calc(var(--grid-gap) * 4);
  width: calc(100% - var(--grid-gap) * 8);
  height: calc(100% - var(--grid-gap) * 8);
  border-radius: var(--board-border-radius);
  background-color: #74c7eca0;
  color: #ffffff;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  z-index: 4;
}

.game-over-screen button,
.passing-screen button {
  margin-top: 16px;
}

.passing-screen {
  background-color: #74c7ec;
  font-size: 1.5rem;
}

.passing-screen button {
  padding: 16px 32px;
}

.game-page .controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.game-info {
  margin: 16px;
}

.attack-info {
  color: #5c5f77;
  text-align: center;
  font-size: 1.25rem;
}

.help-info {
  font-size: 2vh;
  font-weight: 400;
  color: #6c6f85;
  text-align: center;
}

.board-info {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.board-info p {
  font-size: 4vh;
  font-weight: 700;
}

@media (max-width: 600px) {
  :root {
    --cell-size: 4vw;
  }

  .info {
    order: 0;
  }

  .board-info {
    grid-template-columns: 1fr;
  }

  .board-info p {
    font-size: 3vh;
  }

  .game-page .controls {
    order: 1;
    margin-bottom: 2vh;
  }

  .in-progress .game-page .controls {
    order: 3;
  }

  .in-progress .info {
    margin: 0;
  }

  .boards {
    order: 2;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #root:not(.in-progress) .board-header {
    justify-content: flex-start;
  }

  .player-name {
    font-size: 4vw;
  }

  .board-controls img {
    width: 16px;
    height: auto;
  }
  .attack-allowed .active .cell.empty:hover,
  .attack-allowed .active .cell.ship:hover {
    box-shadow: none;
    transform: none;
  }

  .attack-allowed .active .cell.empty:active,
  .attack-allowed .active .cell.ship:active {
    box-shadow: none;
    transform: none;
  }

  .cell.miss::after {
    font-size: 1rem;
  }

  .cell.hit::after,
  .cell.sunk::after {
    font-size: 0.75rem;
  }
}
