@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --grid-gap: 4px;
  --board-border-radius: 8px;
  --board-background: #89dceb;

  --cell-size: 40px;
  --cell-border-radius: 4px;
  --cell-background: #74c7ec;
}

*::after {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #11111b;
}

button:not(.cell):not(.hidden),
.slider {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow:
    rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  text-align: center;
  transition:
    box-shadow 0.15s,
    transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: box-shadow, transform;
  font-size: 18px;
}

button:not(.cell):focus {
  box-shadow:
    #3c4fe0 0 0 0 1.5px inset,
    rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #3c4fe0 0 -3px 0 inset;
}

button:not(.cell):hover {
  box-shadow:
    rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:not(.cell):active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

header {
  font-size: 3rem;
  font-weight: 700;
}

.opponent {
  margin: 16px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.opponent > p {
  padding: 8px;
}

.opponent .options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 8px;
  grid-gap: 16px;
  background-color: var(--board-background);
  border-radius: 8px;
  position: relative;
}

.options p {
  width: 256px;
  text-align: center;
  padding: 8px 0;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  z-index: 2;
}

.slider:not(.slider-right) ~ .opponent-computer,
.slider.slider-right ~ .opponent-friend {
  color: #fff;
}

.options .slider {
  position: absolute;
  left: 8px;
  top: 8px;
  width: 256px;
  height: calc(100% - 16px);
  z-index: 1;

  transition: transform ease-in-out 200ms;
}

.slider.slider-right {
  transform: translateX(calc(100% + 16px));
}

.boards {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  margin: 32px;
}

.board,
.opponent {
  background-color: var(--board-background);
  border-radius: var(--board-border-radius);
  padding-bottom: calc(var(--grid-gap) * 4 + 3px);
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.4) 0px 12px 12px -3px,
    rgba(0, 0, 0, 0.2) 0px -6px 0px inset;
}

.board {
  padding: calc(var(--grid-gap) * 4);
  background-color: var(--board-background);
  border-radius: var(--board-border-radius);
  padding-bottom: calc(var(--grid-gap) * 4 + 3px);
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.4) 0px 12px 12px -3px,
    rgba(0, 0, 0, 0.2) 0px -6px 0px inset;

  transition: all ease-in-out 333ms;
}

.board.active {
  transform: translateY(-8px);
  box-shadow:
    rgba(0, 100, 100, 0.6) 0px 4px 8px,
    rgba(0, 100, 100, 0.6) 0px 12px 12px -3px,
    rgba(0, 100, 100, 0.6) 0px 0px 12px,
    rgba(0, 100, 100, 0.2) 0px -6px 0px inset;
}

.board-header {
  padding: calc(var(--grid-gap) * 4);
  margin-bottom: 16px;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: var(--cell-background);
  border-radius: 8px;
  position: relative;
}

.player-name,
.player-name-input {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 8px;
}

.player-name-input {
  justify-self: start;
  text-align: center;
  width: 250px;
  border-radius: 8px;
  border: 1px solid #11111b;
  padding: 7px 8px;
}

.board-controls {
  position: absolute;
  right: 16px;
}

.board-controls button {
  padding: 8px;
  margin: 0 8px;
}

.board-controls img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(300deg)
    brightness(100%) contrast(100%);
}

.board-cells {
  width: min-content;
  display: grid;
  grid-auto-flow: row;
  grid-gap: var(--grid-gap);
}

.row {
  display: grid;
  grid-auto-flow: column;
  grid-gap: var(--grid-gap);
  display: flex;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);

  border: none;
  border-radius: var(--cell-border-radius);

  background-color: var(--cell-background);
  color: #4c4f69;
}

.cell.empty,
.cell.ship {
  background-color: var(--cell-background);
}

.board.only-human .cell.empty,
.human.editing .cell.empty,
.attack-allowed:not(.passing) .board:not(.active) .cell.empty {
  background-color: var(--board-background);
}

.human.only-human .cell.ship,
.human.editing .cell.ship:not(.moving),
.attack-allowed:not(.passing) .board:not(.active) .cell.ship {
  background-color: #eba0ac;
}

.board.editing .cell.ship.moving {
  background-color: #fab387;
}

.attack-allowed .active .cell.empty:hover,
.attack-allowed .active .cell.ship:hover {
  box-shadow:
    rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #41a3d5 0 -3px 0 inset;
  transform: translateY(-1px);
}

.attack-allowed .active .cell.empty:active,
.attack-allowed .active .cell.ship:active {
  box-shadow: #41a3d5 0 3px 7px inset;
  transform: translateY(1px);
}

.cell.miss {
  background-color: var(--cell-highlight-color);
}
.cell.miss::after {
  content: "•";
  font-size: 2rem;
}

.cell.hit {
  background-color: #f9e2af;
}
.cell.hit::after,
.cell.sunk::after {
  content: "✖";
  font-size: 1.5rem;
}

.cell.sunk {
  background-color: #f38ba8;
}

.game-over-screen,
.passing-screen {
  position: absolute;
  left: calc(var(--grid-gap) * 4);
  top: calc(var(--grid-gap) * 4);
  width: calc(100% - var(--grid-gap) * 8);
  height: calc(100% - var(--grid-gap) * 8);
  border-radius: var(--board-border-radius);
  background-color: #74c7eca0;
  color: #ffffff;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
}

.game-over-screen button,
.passing-screen button {
  margin-top: 16px;
}

.passing-screen {
  background-color: #74c7ec;
  font-size: 1.5rem;
}

.passing-screen button {
  padding: 16px 32px;
}

.hidden {
  display: none;
}

.controls:not(.hidden) {
  width: 100%;
  display: flex;
  justify-content: center;
}

.start,
.reset {
  padding: 16px 32px;
}

.info:not(.hidden) {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-bottom: 32px;
}

.info p {
  font-size: 2rem;
  font-weight: 700;
}

@media (max-width: 600px) {
  header {
    font-size: 2rem;
  }

  .opponent {
    order: 1;
    margin: 8px;
    padding: 8px;
    font-size: 1rem;
  }

  .opponent > p {
    padding: 2px;
  }

  .opponent .options {
    grid-gap: 8px;
  }

  .options p {
    width: 128px;
  }

  .options .slider {
    width: 128px;
  }

  .slider.slider-right {
    transform: translateX(calc(100% + 8px));
  }

  .controls {
    margin: 16px;
    order: 2;
  }

  .in-progress .controls {
    order: 4;
  }

  .boards,
  .info:not(.hidden) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 16px;
  }

  .boards {
    order: 3;
    margin-top: 4px;
  }

  .board {
    margin: 4px;
    padding: 8px;
    padding-bottom: 12px;
  }

  .game-over-screen,
  .passing-screen {
    left: 8px;
    top: 8px;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
  }

  .board-header {
    padding: calc(var(--grid-gap));
    margin-bottom: 8px;
  }

  .player-name,
  .player-name-input {
    font-size: 1rem;
  }

  .player-name-input {
    width: 150px;
  }

  .board-controls {
    right: 4px;
  }

  .board-controls button {
    padding: 4px;
  }

  .board-controls img {
    width: 16px;
    height: auto;
  }

  .board.active {
    transform: translateY(-2px);
  }

  .cell {
    width: 22px;
    height: 22px;
  }

  .attack-allowed .active .cell.empty:hover,
  .attack-allowed .active .cell.ship:hover {
    box-shadow: none;
    transform: none;
  }

  .attack-allowed .active .cell.empty:active,
  .attack-allowed .active .cell.ship:active {
    box-shadow: none;
    transform: none;
  }

  .cell.miss::after {
    font-size: 1.1rem;
  }

  .cell.hit::after,
  .cell.sunk::after {
    font-size: 0.75rem;
  }

  .controls button {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .info:not(.hidden) {
    position: relative;
    margin-bottom: 16px;
  }

  .info p {
    position: absolute;
    font-size: 1.25rem;
  }
}
